/* header section*/



/* hero section */
@media (max-width: 768px) {
    .hero-content {
        top: 100px;
        flex-direction: column;
    }

    .hero-text {
        max-width: 90%;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text h2 {
        font-size: 1.2rem;
    }

    .hero-image img {
        max-width: 75%;
        background: linear-gradient(to bottom ,#070707, black, orange, black, orangered ,black, orange, black, #070707);
    }

    #circle {
        display: none;
    }
}


/* About me section */
@media (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        text-align: center;
    }

    .about-me-text {
        margin-left: 0;
        max-width: 100%;
    }

    .about-me-image img {
        max-width: 90%;
    }

    .about-me-text h2 {
        font-size: 2rem;
    }

    .about-me-text p {
        font-size: medium;
    }
}


/* Education section */

@media screen and (max-width: 768px) {
    .edu-card {
        flex-direction: column;
        text-align: center;
    }


    .edu-card img {
        margin-bottom: 1rem;
    }
}

/* contact me section */
@media screen and (max-width: 768px) {
    .contact {
        padding: 1rem;
    }


    form {
        padding: 1rem;
    }
}

/* Footer  */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }


    .footer-left, .footer-right {
        padding: 1rem 0;
        text-align: center;
    }
}

